[Desktop Entry]
Type=Application
Name=Redshift
Exec=redshift
TryExec=redshift
GenericName=Color Temperature Adjustment
Actions=turn-off;

[Desktop Action turn-off]
Name=Turn Off
Exec=sh -c 'killall -9 redshift && redshift -x'
TryExec=redshift
