[Desktop Entry]
Type=Application
Name=Zathura
Exec=zathura --fork --log-level=error -- %F
TryExec=zathura
Terminal=true
GenericName=Document Viewer
Comment=Minimalistic document reader with VI keybindings
Keywords=C;GUI;zlib;
# TODO: Silent
