configuration {
    modi: "window,drun,ssh,combi";
    combi-modi: "window,drun,ssh";
    ssh-command: "{terminal} {ssh-client} {host} [-p {port}]";
    run-shell-command: "{terminal} {cmd}";
}
@theme "Monokai"
