[Desktop Entry]
Type=Application
Name=gammastep
Exec=gammastep
TryExec=gammastep
GenericName=Color Temperature Adjustment
Actions=turn-off;

[Desktop Action turn-off]
Name=Turn Off
Exec=sh -c 'killall -9 gammastep && gammastep -x'
