[Desktop Entry]
Type=Application
Name=Xautosecurelock
Exec=xautolock -time 120 -locker xsecurelock
TryExec=xautolock
GenericName=Inactivity locker
NoDisplay=true
