[Desktop Entry]
Type=Application
Name=Xautosecurelock
Exec=xautolock
TryExec=xautolock -time 120 -locker xsecurelock
GenericName=Inactivity locker
NoDisplay=true
